table {
			margin-left:10px;
		}
		table th, td{
			color:red;
			padding:10px;
			
		}
		
		#margin{
			width:200px;
			height:200px;
			border:1px solid red;
			background:green;
		}
		
		ol li{
			list-style:none;
		}